@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    max-width: 87vw;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0px;
}

.logo img{
    max-width: 140px;
    margin-top: 5px;
}

.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info p{
    margin: 0 18px;
    color: rgba(37, 37, 37, 0.774);
    font-weight: 600;
    padding: 8px 10px;
    text-align: center;
}

.info p:hover{
    background-color: rgba(88, 88, 88, 0.288);
    border-radius: 5px;
}

.info button{
    padding: 8px 25px;
    border: 1px solid #0366c3;
    border-radius: 20px;
    font-weight: 600;
    font-size: 0.9rem;
    color: #0366c3;
    background-color: #0366c300;
    transition: 0.4s;
}

.info button:hover{
    background-color: #0366c31c;
    box-shadow: inset 0px 0px 0px 1px #0366c3;
}

.content1{
    padding: 3% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.text1{
    align-self: flex-start;
    max-width: 47%;
}

.text1 h1{
    text-align: left;
    font-weight: 1.2;
    font-size: 3.5em;
    color: #8f5849;
}

.text1 > .btns{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    min-width: 200px;
    padding: 40px 0px;
}

.text1 > .btns button{
    padding: 20px 30px;
    margin: 15px 0px;
    background-color: white;
    border: 0.1px solid rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    text-align: left;
}

.text1 > .btns button:hover{
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.301) ;
}

.side-img1{
    max-width: 52%;
    overflow: hidden;
}

.side-img1 img{
    width: 100%;
    position: relative;
    left: 90px;
    text-align: center;
}

.content2{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px 20px 50px 20px;
    background-color: #f3f2f0;
}

.content2 h1{
    max-width: 34%;
    margin: 3%;
    text-align: left;
    align-self: center;
    font-weight: 1.2;
    font-size: 3em;
    min-width: 350px
}

.itens{
    max-width: 45%;
    min-width: 350px;
    margin: 2%;
    align-self: center;
}

.itens p{
    margin: 20px;
    color: #616160;
    font-weight: 600;
}

.itens li{
    max-width: 47%;
    margin: 1%;
    display: inline-block;
    list-style: none;
    padding: 15px 30px;
    background-color: #e0dfdd;
    color: #5a5958;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s;
}

.itens li:hover{
    background-color: #acacac;
    color: #383838;
    text-decoration: underline;
}

.content3{
    padding: 40px 20px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    background-color: #f3f2f0;
}

.text3{
    width: 40%;
    margin: 3%;
}

.text3 h2{
    color: #0366c3;
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.text3 p{
    color: #616160;
    font-size: 1.9rem;
    font-weight: 300;
}

.side-img3{
    max-width: 60%;
    margin: 2%;
    align-self: center;
    text-align: center;
}

.side-img3 img{
    width: 70%;
}

.content4{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    padding: 80px 30px;
}

.content4 .conjunt1{
    max-width: 40%;
    min-width: 350px;
}

.conjunt1 h2{
    color: #000000;
    font-weight: 300;
    font-size: 2.7rem;
    margin: 45px 0px;

}

.conjunt1 button{
    padding: 15px 30px;
    border-radius: 30px;
    border: 0.5px solid #616160;
    background-color: #38383800;
    color: #616160;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
    transition: 0.3s;
}

.conjunt1 button:hover{
    text-decoration: underline;
    background-color: #38383838;
}

.content4 .conjunt1 img{
    width: 60%;
    text-align: center;
    
}

.content4 .conjunt2{
    max-width: 40%;
    min-width: 350px;
}

.conjunt2 h2{
    color: #000000;
    font-weight: 300;
    font-size: 2.7rem;
    margin: 45px 0px;
    max-width: 400px;
    min-width: 350px;

}

.content4 .conjunt2 img{
    width: 60%;
}

.section-img{
    height: 700px;
    background-image: url("imagens/br.linkedin.com_\ \(1\).png");
    background-position: center;
    background-size: cover;
}

.content5{
    padding: 60px 0;
    margin: 0% 8%;
}

.content5 h1{
    font-weight: 1.2;
    font-size: 3.5em;
    min-width: 300px;
    color: #181818;
}

.content5 button{
    padding: 15px 20px;
    background-color: #0366c3;
    color: white;
    border: 0;
    margin-top: 40px;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 400;
    transition: 0.3s;
}

.content5 button:hover{
    position: relative;
    background-color: #004585;
    text-decoration: underline;
    border: 0;
}

@media (max-width: 700px) {
    
    .content1, .content2, .content3, .content4, .content5 {
        flex-direction: column;
        align-content: center;
    }

    .text1{
        align-self: flex-start;
        max-width:100%;
    }

    .side-img1{
        max-width: 90%;
        position: relative;
        right: 50px;
        overflow: hidden;
    }

    .side-img3{
        max-width: 90%;
    }

    .text3{
        width: 90%;
        margin: 3%;
    }

    .content4 > .conjunt1, .conjunt2{
        width: 90%;
    }
    
    .content4 > .conjunt1, .conjunt2 {
        text-align: center;
    }
}







