@charset "UTF-8";

body {
    margin: 0;
    font-family: "Segoe UI", "Sans-serif";
    background-color: #4d4d4d;
}

ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
    transition: all .5s;
}

nav {
    background-color: #2c2c2c;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 45px;
}

h1 {
    color: rgb(224, 224, 0);
    font-size: 24pt;
    text-decoration: none;
}

nav a {
    color: #FFF;
    padding: 10px;
    text-decoration: none;
    font-size: 16pt;
    border-radius: 5px;
    transition: .3s;
}

nav a:hover{
    background-color: #4d4d4d;
}

nav, ul {
    display: flex;
    flex-direction: row;
}

li {
    padding: 10px 20px;
    color: #FFF;
}

h1 {
    margin: 0;
    padding: 10px;
}

.especial{
    min-width: 40px;
    width: 25px;
    display: flex;
    text-align: center;
    justify-self: center;
}


#qtd{
    display: none;
    background-color: #4d4d4d;
    padding: 2px 8px;
    border-radius: 50%;
    color: rgb(248, 223, 0);
    font-weight: 600;
}

#especial{
    display: none;
}

.especial img{
    width: 20px;
    height: 25px;
}

button {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

h1:hover, button:hover {
    cursor: pointer;
    background-color: #292929bb;
}

button:focus~ul {
    height: 320px;
}

/* Inicio da section 1*/

.init{
    background: url(img/background\ Inicio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 86vh;
}

.msg1{
    max-width: 800px;
    width: 80vw;
    margin: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
}

.msg1 > h2{
    position: relative;
    top: 55vh;
    left: 5.5vw;
    color: rgb(224, 224, 0);
    font-size: 250%;
}

h2 > span{
    text-decoration: underline;
}

/* Inicio da section 2*/

#sabores{
    background-color: rgb(104, 104, 104);
}

#sabores > h2{
    margin: 0;
    padding: 10px 0;
    width: 100%;
    font-size: 200%;
    color: rgb(224, 224, 0);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.719);
    text-align: center;
}

#sabor{
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(104, 104, 104);
    padding-bottom: 50px;
    margin-top: 5px;
}

.sabor{
    max-width: 500px;
    width: 100%;
    height: 150px;
    display: flex;
    background-color: #2c2c2c;
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.596);
    margin-top: 10px;
    margin-bottom: 20px ;
}

.sabor > img{
    max-width: 180px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sabor > p{
    color: white;
    margin-left: 8px;
    align-self: center;
}

/* Inicio da section 3*/

#quem-somos{
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    padding-bottom: 80px;
}

#quem-somos h2{
    margin: 0;
    padding: 10px 0;
    font-size: 200%;
    color: rgb(224, 224, 0);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.719);
    text-align: center;
}

#quem-somos p{
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 18pt;
}
.imgs{
    padding-top: 50px ;
    display: flex;
    justify-content: space-around;
}

.imgs > img {
    max-width: 40vw;
    width: 100%;
}

.btnAdd{
    max-width: 20px;
    width: 100%;
    padding: 0 15px;
    padding-bottom: 3px;
    background-color: #4d4d4d;
    color: white;
    border: 2px solid ;
    font-size: 18pt;
    border-radius: 10px;
    margin-right: 5px;
    transition: .5s;
    margin: 0;
    align-self: center;
    cursor: pointer;
}

.btnAdd:hover{
    background-color: #4d4d4d;
    color: yellow;
    border: 2px solid yellow;
}

.conteudo{
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

/* Inicio da section 4*/

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    background-color: #4d4d4d;
}

.conteudo1{
    max-width: 40vw;
    width: 100%;
    min-width: 400px;
    
}

.conteudo1 h3{
    font-size: 250%;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.719);
}

.conteudo1 p{
    font-size: 180%;
    color: white;
    min-width: 400px;
}

.conteudo2{
    max-width: 40vw;
    width: 100%;
    min-width: 400px;
}

.conteudo2 img{
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 980px) {

    nav, ul {
        flex-direction: column;
    }

    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    h1 {
        margin: 10px;
    }

    .msg1 > h2{
        color: white;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.815);
    }

    button {
        display: flex;
    }

    li, ul {
        width: 100%;
    }

    li:hover, h1:hover, button:hover {
        cursor: pointer;
        background-color: #16161600;
    }

    .especial{
        align-self: center;
        position: relative;
        left: 20px;
    } 

    #especial{
        display: block;
        font-size: 20pt;
        border-radius: 49%;
        width: 6px;
        margin-right: 20px;
        align-self: flex-end;
    }

    .imgs{
        flex-direction: column;
    }

    .imgs img{
        max-width: 90vw;
        width: 100%;
        margin: 20px 0;
    }

}

/*Criados com JavaScript*/

