@charset "UTF-8";
@font-face { font-family: "android";
src: url(fontes/idroid.otf) format("opentype");}

*{
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}

:root{
--cor0:  #3ae8b1fc;  /*Atribuindo variavel cor*/

}

html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #3AE8B1;
    }

header{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.404), rgba(58, 232, 177, 0.99));
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

header > h1{
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    padding: 20px;
}

header > h2{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 0.7rem; 
    max-width: 420px; /*Limitação do tamanho da caixa*/
    margin: auto; /*Alinhamento da caixa*/
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.836);    
}

nav{
    text-align: left;        
}


nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight:bold;
    transition-duration: 0s;
}

nav > a:hover{
    background-color: rgba(255, 255, 255, 0.596) ;
    padding-bottom: 0px;
    padding-top: 0px;
    border-radius: 3px;
    color: rgba(63, 138, 114, 0.99);
}

#init{
    padding-left: 0px;
}

img{
    width: 100%;
}

p{
    text-indent: 30px;
    line-height: 1.6rem;
    height: 5%;
    padding: 15PX 0PX 15PX 0PX;
}
    

main{
    min-width: 300px;
    max-width: 800px;
    background-color: white;
    margin-left: 18%;
    margin-right: 18%;
    padding: 10px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.726);
}

main > h1, h2{
    color: #007952;
    font-family: "android", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    padding-left: 1.5%;
}

section > h2{
    background: linear-gradient(to right, rgba(58, 232, 177, 0.425), rgba(255, 255, 255, 0));
}

.paragrafo{
    text-align: justify;
    margin: 1.5%;
}

.bugd{
    display: block;
    width: 400px;
    margin: auto;
}

div.video{                 /*Responsividade de video inicio*/
    background-color: #007952;
    padding-top: 5px;
    padding-bottom: 55%;
    border-radius: 5px;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}                            /*Responsividade de video Fim*/

.crdit{
    background-color: rgb(177, 255, 230);
    border-radius: 10px;
}


.crdit > h2{
    font-family: Arial, sans-serif;
    background-color: #02ffaf;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1rem;
    padding: 5px;
    text-transform:none;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px rgba(0, 0, 0, 0.534);
}

ul{
    list-style: none;
    columns: 2;
    padding-top: 15PX;
}

footer{        
    text-align: center;
    background-color: #007952;
    padding: 10px;
    align-items: center;
    
}
.credito{
    text-align: center;
    margin: auto;
    color: white;
    font-size: 0.8rem
}














































