@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
}


.menu-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #21c25e;
    align-items: center;
    padding: 5px;
    text-align: center;
    width: 100%;
}

.logo{
    cursor: pointer;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
    align-items: center;    
    margin-top: 5px; 
}

.item{
    padding: 5px 15px;
    color: white;
    transition: 0.6s;
    cursor: pointer;
    border-radius: 5px;
}

.item:hover{
    color: #505050ab; 
    background-color: #39ee7f;   
}

.btn1{    
    background-color: rgb(16, 111, 255);
    border: 0;
    border-radius: 25px;
    color: white;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 1.0rem;
    cursor: pointer;  
    margin-left: 10px;
    transition: 0.5s;
}

.btn1:hover{
    background-color: rgb(0, 72, 180);
}

main{
    display: flex;
    align-items: center;
    align-content: center;
    max-height: 1000px;
}

.section1{    
    margin: auto;
    display: flex;    
    flex-wrap: wrap; 
    justify-content: space-around;    
}

.section1 img{
    max-width: 45vw;
    min-width: 300px;
}


.text1{
    max-width: 600px;
    text-align: center;
    display: flex;
    font-size: small;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
}

.text1> h1, p{
    padding: 10px;
    text-align: left;
    
}

.text1 h1{
    color: #21c25e;
    font-weight: 800;
    font-size: 1.9rem;

}
.text1 p{
    line-height: 1.65rem;
    font-size: 1.3rem;
    text-align: justify;
}

.btn2{    
    background-color: rgb(16, 111, 255);    
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 12px 30px;
    font-weight: 600;
    font-size: 1.0rem;
    cursor: pointer; 
    margin-left: 10px; 
    margin-bottom: 10px;
    transition: 0.5s;
}

.btn2:hover{
    background-color: rgb(0, 72, 180);
}

footer{
    background-color: #21c25e;
    color: white;
    padding: 10px;
    margin: 0;    
}

footer p, a{
    text-align: center;
    text-decoration: none;
    color: white;
}

.check {
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 36px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

li:hover, .check:hover {
    cursor: pointer;
}

.check:focus~ul {
    height: 260px;
}


@media (max-width: 850px) {

    
    nav, ul {
        flex-direction: column;
        overflow: hidden;
        transition: 1s;
    }

    ul {
        text-align: center;
        margin: 0;
        height: 0;
    }

    nav {
        padding: 0;
        align-items: flex-start;
    }

    .item{
        padding: 5px 0px;
        margin: 5px 0;
        width: 100vw;
    }

    .btn1 {
        padding: 10px 25px;
    }

    .check {
        display: flex;
    }

    li, ul {
        width: 100%;
    }

    li:hover, .check:hover {
        cursor: pointer;
        background-color: #16161600;
    }
}